#navbar-rico {
    background-color: #B2B8A3;
}

body {
    background-color: #FFF5EB;
}

* {
    font-family: 'League Spartan', sans-serif;
}

section {
    background-color: #DEEDF0;
}

.navbar-toggler-icon {
    color: red;
}

#links a {
    text-decoration: none;
    color: inherit;
}

.button-link {
    text-decoration: none;
    color: inherit;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }


  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#nav-links a {
    font-size: 200%;
}

.name-brand {
    font-size: 200%;
    color: #FFF5EB;
}

.button-link button{
    font-size: 30px;
}

.button-link button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }


  @media only screen and (max-width: 500px) {
    .button-link button{
        font-size: 20px;
    }
  }


  footer {
    background-color: #F4C7AB!important;
  }
